ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#scores {
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 10px; /* Add spacing between the scores */
  }